<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/10f527342c.js"
      crossorigin="anonymous"
    ></script>
    <title>ToDoList WebApp</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <a href="/todoay"
            ><li><i class="fa-solid fa-calendar-days fa-xs"></i>Todoay</li></a
          >

          <a href="/worklist"
            ><li><i class="fa-solid fa-briefcase fa-xs"></i>Work</li></a
          >
        </ul>
      </nav>
    </header>